@font-face {
  font-family: 'Sanford';
  src: url('./assets/fonts/Sanford.ttf');
}

:root {
  --background: rgba(238, 202, 154, 0.8);
  --brown: rgba(99, 73, 40);
  --hover: rgba(99, 73, 40, 0.466);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 2px dashed red;
}

body {
  background: var(--background);
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.container {
  padding: 35px 5%;
}

h1 {
  color: var(--brown);  
  text-align: center;
  font-family: 'Sanford', sans-serif;
  font-size: 4vw;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery > li {
  flex-basis: 373px;
  position: relative;
}

.gallery li img {
  border-radius: 5px;
  height: 280px;
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.gallery a {
  display: block;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid var(--brown);
  color: var(--brown);
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin: 10px auto;
  padding: 10px 20px;
}

button:hover {
  background-color: var(--hover);
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#focus-element {
  position: absolute;
  right: 0;
}

.gallery-filter {
  display: flex;
  padding-bottom: 25px;
}

.MyMenuButton {
  align-items: center;
  display: inline-flex;
  justify-content: flex-end;
  position: relative;
}

.vcs {
  align-items: center;
  background-color: var(--brown);
  border-radius: 50%;
  color: var(--brown);
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  padding: 15px;
}

.MyMenuButton-menu {
  background-color: var(--background);
  left: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  width: 150px;
  z-index: 99;
}

.MyMenuButton-menuItem {
  color: var(--brown);
  cursor: pointer;
  padding: 5px;
}

.MyMenuButton-menuItem:hover {
  background-color: var(--hover);
}

.button-content {
  display: flex;
}

svg {
  fill: var(--background);
}